<% const days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday',
'saturday', 'sunday'] %> <% for (let day of days) { %>
<div class="col col-12">
  <form action="/schedules" method="post">
    <label class="p-3 border container-day border-dark" style="cursor: pointer">
      <h3 class="days-text"><%= day.toUpperCase() %></h3>
      <input type="hidden" name="day" value="<%= day %>" />
      <input type="submit" style="display: none" />
    </label>
  </form>
</div>
<% } %>

<div class="col col-12">
  <!-- <form action="/schedules" method="post"> -->
  <label class="p-3 border container-day border-dark" style="cursor: pointer">
    <h2 class="days-text">NOTES</h2>
  </label>
  <!-- </form> -->
</div>
