<%- include('./../includes/header') -%> <%-
include('./../includes/navSchedules') -%>
<div class="container-schedules">
  <div class="header-schedules">
    <h1>MONDAY</h1>
  </div>
  <div class="container overflow-hidden container-day-schedule">
    <div class="wrapper">
      <h3>03:00 AM</h3>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
          aliquam deserunt harum rem earum assumenda perspiciatis expedita.
          Aliquid distinctio tenetur fugiat qui recusandae obcaecati voluptates.
        </p>
      </div>
    </div>
    <div class="container-btn">
      <button class="btn btn-success">+ Add Note</button>
    </div>
  </div>
</div>
<%- include('./../includes/footer') -%>
