@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lobster+Two&family=Montserrat&display=swap');

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: rgb(34, 39, 46); */
  color: white;
  font-family: futura-pt, sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.modal {
  color: white;
}

main {
  /* background-color: rgb(95, 16, 16); */
  text-align: center;
  width: 50%;
}

.navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  font-size: 32px;
}

a {
  text-decoration: none !important ;
  color: inherit;
}

a:hover {
  color: inherit;
}

.password-wrap {
  position: relative;
}

#toggle-password-visibility {
  position: absolute;
  right: 0rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 3rem;
  top: 1.2rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-style: none;
}

#toggle-password-visibility img {
  width: 100%;
  height: auto;
}

.password-visibility {
  border: none;
}
footer {
  text-align: center;
  padding: 2rem;
  bottom: 0;
}
