<!-- Navbar section start -->
<div class="navbar-container">
  <ul class="navbar navbar-expand-lg navbar-light bg-light p-2">
    <a class="navbar-brand" href="/schedules"
      ><img src="/img/logo.png" alt="logo" height="40rem" /> Schedule Maker</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="right-nav navbar-nav ms-auto">
        <li>
          <a class="nav-link"role="button" 
          data-bs-toggle="modal"
          data-bs-target="#modalBackgroundImage"
          data-bs-whatever="@getbootstrap"
            ><div>
              <img
                src="/img/layout.png"
                alt="Change background"
                style="width: 1.5rem"
              />
            </div>
          </a>
        </li>
        <li>
          <a class="nav-link" id="change-theme" role="button"
            ><div>
              <img
                src="/img/theme.png"
                alt="Change Theme"
                style="width: 1.5rem"
              />
            </div>
          </a>
        </li>
        <li>
          <a class="nav-link"><strong><%= email %></strong></a>
        </li>
        <li><a class="nav-link" href="/logout" role="button">Sign Out</a></li>
        <li><a class="nav-link" href="/about" role="button">About</a></li>
      </ul>
    </div>
  </ul>
</div>
<%- include('./backgroundImageModal') -%>

<!-- Navbar section end -->
