<div id="note-content-box">
  <div class="wrapper note-content" id="note-content">
    <h3 id="note-time">03:00 AM</h3>
    <div class="note-text" id="note-text">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi culpa
        et eligendi magnam rerum tempora deserunt unde, fugit, aliquam hic,
        incidunt ipsa enim reprehenderit? Laboriosam illo magnam dignissimos
        minima nesciunt!
      </p>
    </div>
  </div>
</div>
