<% if(noteContentText.length > 0) { %> <% noteContentText.forEach((el, index) =>
{ %>
<div id="note-content-box">
  <div class="wrapper note-content" id="note-content">
    <h3 id="note-time"><%= noteContentTime[index] %></h3>
    <div class="note-text" id="note-text">
      <p><%= noteContentText[index] %></p>
    </div>
  </div>
</div>
<% }); } else {}%>
