<div
  class="modal fade"
  id="modalCreate"
  tabindex="-1"
  aria-labelledby="modalCreateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <form method="POST">
        <input type="hidden" name="action" value="create" />
        <div class="modal-header">
          <h5 class="modal-title" id="modalCreateLabel">New note</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <!-- <label for="recipient-name" class="col-form-label">Time:</label> -->
            <!-- <input type="text" class="form-control" id="recipient-name" /> -->
            <%-include('./../includes/clockCreate') -%>
          </div>
          <div class="mb-3">
            <label for="note-text-modal" class="col-form-label">Note:</label>
            <textarea
              class="form-control"
              id="note-text-modal"
              name="noteTextCreate"
              style="min-height: 150px"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" id="create-button" class="btn btn-success">
            Create note
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
