<div
  class="modal fade"
  id="modalUpdate"
  tabindex="-1"
  aria-labelledby="modalUpdateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <form method="POST">
        <input type="hidden" name="oldTime" value="" />
        <input type="hidden" name="oldNote" value="" />
        <input type="hidden" name="action" value="update" />
        <div class="modal-header">
          <h5 class="modal-title" id="modalUpdateLabel">Edit note</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3"><%-include('./../includes/clockUpdate') -%></div>
          <div class="mb-3">
            <label for="note-text-modal" class="col-form-label">Note:</label>
            <textarea
              class="form-control"
              id="note-text-modal"
              name="noteTextUpdate"
              style="min-height: 150px"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" id="update-button" class="btn btn-success">
            Update note
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
