<%- include('includes/header') -%> <%- include('includes/navHome') -%>

<header class="py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Schedule Maker</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Everything you need to organize your week! This website was designed with modern devices in mind, ensuring a seamless and intuitive experience no matter where you are. Whether you are using a laptop, tablet, or smartphone, this website is fully responsive and optimized for all screens. You can easily create and edit your notes on the go, giving you the freedom and flexibility to stay organized and on top of your schedule no matter where life takes you.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/register">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="https://github.com/leonardoacr/SchedulesMaker/blob/main/README.md">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="./img/logo.png" width="70%" alt="..."></div>
        </div>
    </div>
</header>
<%- include('includes/footer') -%>