<%- include('includes/header') -%> <%- include('includes/navHome') -%>
<div class="container-home">
  <main class="px-3">
    <%- include('includes/messages') -%>
    <h1>Make your <strong>life</strong> easier.</h1>
    <p class="lead">
      Create your own schedule. Organize in a way you will never need to think
      about it again!
    </p>
    <form action="/login" method="get">
      <button class="btn btn-lg btn-secondary border-white bg-dark">
        START NOW
      </button>
    </form>
  </main>
</div>
<%- include('includes/footer') -%>
