<%- include('includes/header') -%> <%- include('includes/navHome') -%>

<section class="vh-80 gradient-custom">
  <div class="container py-5 h-80">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
              <p class="text-white-50 mb-5">
                Please enter your email and password!
              </p>
              <form action="/register" method="POST">
                <div class="form-outline form-white mb-4">
                  <%- include('includes/messages') -%>
                  <input
                    type="email"
                    id="typeEmailX"
                    name="username"
                    class="form-control form-control"
                  />
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                  
                  <div class="password-wrap">
                    <input type="password" id="password" name="password" class="form-control form-control" min="3" max="50" autocomplete="on" required />
                      <button type="button" id="toggle-password-visibility"><img id="show-password-icon" src="/img/visibility_off.svg" alt="Show Password"></button>
                  </div>

                  <label class="form-label" for="password" autocomplete="on">Password</label>
                </div>
                
                <div class="form-outline form-white mb-4">

                  <input
                    type="password"
                    id="confirm-password"
                    name="confirm-password"
                    class="form-control form-control"
                    minlength="3"
                    maxlength="50"
                    autocomplete="on"
                    required
                  />
                  <label class="form-label" for="confirm-password" autocomplete="on">Confirm Password</label>
                  <div><p id="checkPasswordMatchMessage"></p></div>
                </div>

                <button class="btn btn-outline-light btn px-5" type="submit" id="registerButton" style="display: none;">
                  Register
                </button>
              </form>
            </div>
            <div>
              <p class="mb-0">
                Already have an account?
                <a href="/login" class="text-white-50 fw-bold">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('includes/footer') -%>